// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
  background-color: AntiqueWhite;

  @include tablet {
    background-color: AntiqueWhite;
  }

  @include phablet {
    background-color: DarkSalmon;
  }

  @include mobile {
    background-color: blue;
  }
}

h1 {
  @include sprite($android);

  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: $brand-color;

  @include phablet {
    background-color: green;
  }

  @include tablet {
    background-color: yellow;
  }

  @include mobile {
    background-color: blue;
  }
}
